/* The NavHome */
*{
    margin: 0;
}
.PhoneNav{
    display: none;
}
.phnbtn{
    display: none;
}
.NavBar{
    display: flex;
    flex: 100%;
    background-image: url(../Images/stair-case-foyer-1646841.jpg);
    background-position: center;
    height: 400px;
    /* background-color: black; */
    border: 0px solid black;
    box-shadow: 2px 2px 52px 1px rgba(248, 137, 46, 0.541);

}
.logo h1{
    flex: 30%;
    margin-top: -1%;
    margin-left: 0.5%;
    padding-top: 2%;
    color: white;
    z-index: 99;
}
.logo h5{
    margin: -0.4%;
    margin-left: 2%;
    color: rgba(255, 45, 227, 0.904);
}
.logo h1:hover{
    /* background-image: linear-gradient(to right, black, orange,black); */
    /* width: 12%; */
}
.headright{
    display: flex;
    flex: 70%;
    margin-left: 60%;
    margin-top: -4%;
  
}
.headright li{
    list-style: none;
    padding: 2%;
}
.headright li a{
    text-decoration: none;
    color: white;
    z-index: 99;
    font-size: 22px;
}
.headright li a:hover{
    text-decoration: underline;
    color: rgba(255, 45, 227, 0.904);
    font-size: 23px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.575);
    height: 400px;
    width: 100%;
    /* z-index: 0; */
}
.NavBody{
    z-index: 99;
    text-align: center;
    color: white;
    margin-top: -15%;
}
.line{
    margin-top: .5%;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: .5%;
    z-index: 99;
}
.res{
    margin-top: .5%;
    margin-bottom: 3%;
}
.btn button a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: rgba(255, 45, 227, 0.904);
}
.btn button a:hover{
    
    color: rgba(255, 45, 227, 0.904);
    
}
.btn button{
    background-color: transparent;
    border: 3px solid rgba(255, 45, 227, 0.904);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
.btn button:hover{
    background-color: white;
}
.welcome h1:hover{
    font-size: 43px;
}
.welcome h1{
    font-size: 42px;
}

/* The footer Section */
.foo{
    background-image: linear-gradient(to top left, rgba(233, 100, 12, 0.925), rgb(247, 160, 175), violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    border: 0;
}
.footerSection{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    border: 1px solid black;
    margin-top: 5%;
    padding: 5%;
    background-image: linear-gradient(to top left, rgba(233, 100, 12, 0.925), rgb(247, 160, 175), violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    border: 0;
    
}

.Samm{
    margin-left: 25%;
}
.Samm h3:hover{
    color: white;
}
.Samm p:hover{
    color: black;
}
h3{
    color: black;
    padding: 2%;
    padding-left: 0;
    font-size: 2vw;
}
h3:hover{
    color: white;
    font-size: 2.1vw;
}
.Samm p{
    color: white;
}
.Production a{
    color: white;
    text-decoration: none;
}
.LINKs a{
    color: white;
    text-decoration: none;
}
.FasIcons p{
    color: white;
    text-decoration: none;
}
.FasIcons p:hover{
    color: black;
}
.copyWSection h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
@media (max-width: 1024px) {
    
    .NavBar{
        display: flex;
        flex: 100%;
        margin-top: -2vh;
    }

   .logo h1{
        font-size: 3vw;
        margin-left: 2vw;
        flex: 30%;
        margin-top: 1vh;
   }
   .headright{
       flex: 70%;
       margin-left: 43vw;
       margin-top: -3.5vh;

   }
   .headright li a{
       font-size: 2.8vw;

   }
   .NavBody{
       margin-top: -12vh;
   }
   .res p{
       font-size: 2vw;
   }
   .btn button{
       font-size: 2.2vw;
       margin-top: -1vh;
   }
   
}
@media (max-width: 768px) {
    .NavBody{
        margin-top: -20vh;
    }
    .topic h2{
        margin-top: 12vh;
        font-size: 4.0vw;
        
    }
    /* Working on the footer for this display */
    .Production h3{
        font-size: 3.3vw;
    }
    .FasIcons h3{
        font-size: 3.3vw;
    }
    .Samm h3{
        font-size: 3.3vw;
    }
    .LINKs h3{
        font-size: 3.3vw;
    }
    
}
@media (max-width: 425px) {
    /* working on toggler now */
    .PhoneNav{
        display: block;
    }
    .PhoneNav li{
        list-style: none;
    }
    .PhoneNav li a{
        text-decoration: none;
        color: white;
    }
    /* Working on the footer for this display */
    .footerSection{
        display: block;
    }
    .Samm h3{
        font-size: 4.7vw;
    }
    .Production{
        text-align: center;
    }
    .Production h3{
        font-size: 4.7vw;
    }
    .LINKs{
        text-align: right;
    }
    .LINKs h3{
        font-size: 4.7vw;
    }
    .FasIcons{
        margin-top: -15.9vh;
    }
    .FasIcons h3{
        font-size: 4.7vw;
    }

    /* Working on the header now */

    
    .headright{
        display: none;
    }
    .NavBody{
        /* margin-top: -20vh; */
    }
    .welcome h1{
        font-size: 6vw;
    }
    .line hr{
        width: 50vw;
        margin-left: -15vw;
        margin-bottom: 1vh;
    }
    .res p{
        font-size: 3vw;
    }
    .btn button{
        margin: 2vw;
        padding: 1vw;
    }
    /* Working on the body elements */
    .topic h2{
        font-size: 6vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}
@media (max-width: 320px) {
    .NavBar{
        margin-top: 0vh;
    }
    .welcome h1{
        font-size: 7vw;
        margin-bottom: 1vh;
    }
    .res p{
        font-size: 4vw;
    }
    .btn button{
        font-size: 4vw;
        margin-top: .5vh
    }
    
}




