*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 60px; */
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 1.5rem;
}
.nav-link{
    transition: all 0.7s ease;
}
.nav-link:hover{
    color: blue;
}

.humburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width:452) {
    .humburger{
        display: block;
    }
    .humburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .humburger.active .bar:nth-child(2){
        transform: translateY(8px) rotate(45deg);
    }
    .humburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}





